input{
    font-size: 30px;
}

form{
    text-align: center;
    margin-top: 50px;
}

.title{
    text-align: center;
    font-size: 50px;
    font-family:Arial, Helvetica, sans-serif;
}

.secondContent{
    text-align: center;
    padding-left: 15%;
    padding-right: 10%;
    font-size: 20px;
    word-wrap: break-word;
    width: 70%;
}

.hint{
    padding-top: 50px;
    text-align: center;
}

.link-style-btn{
  cursor: pointer;
  border: none;
  background: none;
  color: #0033cc;
  font-size: 30px;
  display: inline-block;
  width: 200px;
}

.link-style-btn:hover{
  text-decoration: underline;
  color: #002080;
}

